# Archivos de construcción y dependencias
/target/
/build/
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Configuración de entorno
*.env
application.properties
application.yml

# Archivos de sistema y temporales
.idea/
*.log
*.class
.DS_Store

# Sistema operativo
Thumbs.db
*.swp

# Archivos de Maven y Gradle
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/